<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Joining_Date</th>
      <th>Joining_Date_in_CV</th>
      <th>JoinDate_Rank</th>
      <th>Leaving_Date</th>
      <th>Leaving_Date_in_CV</th>
      <th>LeavingDate_Rank</th>
      <th>Duration_in_months</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2013-04-01</td>
      <td>Apr 2013</td>
      <td>1.0</td>
      <td>2017-07-01</td>
      <td>Till Date.</td>
      <td>6.0</td>
      <td>51.0</td>
    </tr>
    <tr>
      <td>2016-02-01</td>
      <td>Feb 2016</td>
      <td>5.0</td>
      <td>2017-07-01</td>
      <td>till date</td>
      <td>6.0</td>
      <td>17.0</td>
    </tr>
    <tr>
      <td>2014-09-01</td>
      <td>Sep 2014</td>
      <td>3.0</td>
      <td>2015-12-01</td>
      <td>Dec 2015</td>
      <td>4.0</td>
      <td>15.0</td>
    </tr>
    <tr>
      <td>2013-04-01</td>
      <td>Apr 2013</td>
      <td>1.0</td>
      <td>2014-08-01</td>
      <td>Aug 2014</td>
      <td>2.0</td>
      <td>16.0</td>
    </tr>
  </tbody>
</table>